<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2>alta Cliente</h2>

        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group"><label for="">Nombre</label><input type="text" name="Cadena2" id="Cadena3" class="form-control" #nombre></div>
            
            <div class="form-group"><label for="">Apellido Paterno</label><input type="text" name="Cadena2" id="Cadena3" class="form-control" #apPaterno></div>
            
            <div class="form-group"><label for="">Apellido Materno</label><input type="text" name="Cadena2" id="Cadena3" class="form-control" #apMaterno></div>
            
            <div class="form-group"><label for="">Telefono</label><input type="text" name="Cadena2" id="Cadena3" class="form-control" #telefono></div>
            
            <div class="form-group"><label for="">Correo</label><input type="text" name="Cadena2" id="Cadena3" class="form-control" #correo></div>
            
            <div class="form-group"><label for="">Numero de Afiliado</label><input type="text" name="Cadena2" id="Cadena3" class="form-control" #numAfiliado></div>
            
            <div class="form-group">
                <button class="btn btn-success" (click)="guardarCliente()">Guardar</button>
            </div>
        </div>
    </div>
</div>