<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2>Detalle de Cliente</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item"><strong>ID: </strong>{{cliente.id}}</li>
                    <li class="list-group-item"><strong>Nombre: </strong>{{cliente.nombre}}</li>
                    <li class="list-group-item"><strong>Ap. Paterno: </strong>{{cliente.apPaterno}}</li>
                    <li class="list-group-item"><strong>Ap. Materno: </strong>{{cliente.apMaterno}}</li>
                    <li class="list-group-item"><strong>Correo: </strong>{{cliente.correo}}</li>
                    <li class="list-group-item"><strong>Telefono: </strong>{{cliente.telefono}}</li>
                    <li class="list-group-item"><strong>Num. Afiliado: </strong>{{cliente.numAfiliado}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>